The <span style="color: var(--scaffold-light)">Loop</span><span style="color: var(--insert-light)">Grafter</span> tool is the server designed for grafting loops from an <span style="color: var(--insert-light)">insert</span> protein to a <span style="color: var(--scaffold-light)">scaffold</span> protein. For the tool to work as intended, the two proteins should be <u>structurally similar</u>.
At the end of the pipeline, the actual in-silico insertion of the loop candidates from one protein to the other one is performed. The tool will present the results in the form of sequences, structures, and scores of the grafted mutants that the user can download and perform further analysis locally. 

<table class="browser-table">
    <thead>
        <td>Tested on</td>
        <th>Firefox</th>
        <th>Edge</th>
        <th>Safari</th>
        <th>Chrome</th>
    </thead>
    <tbody>
        <tr>
            <th>Windows 10</th>
            <td>83.0</td>
            <td>87.0.664.57</td>
            <td>N/A</td>
            <td>87.0.4280.88</td>
        </tr>
        <tr>
            <th>MacOS Catalina</th>
            <td>84.0</td>
            <td>N/A</td>
            <td>14.0.2</td>
            <td>1.17.75</td>
        </tr>
        <tr>
            <th>Ubuntu 20.04 LTS</th>
            <td>78.0.2</td>
            <td>N/A</td>
            <td>N/A</td>
            <td>87.0.4280.88</td>
        </tr>

    </tbody>
</table>
<style>
    .browser-table,
    .browser-table td,
    .browser-table tr,
    .browser-table th {
        border: 1px solid white;
        border-collapse: collapse;
        padding: 5px;
    }
</style>