
/* #visualizations > div {
    border-width: 5px;
    border-color: aqua;
    border-style: solid;
} */




#logo {
    height: 65px;
}

/* 
canvas {
    width: 100%;
    height: 100%;
} */



/* #viz {
    flex-grow: 2;
}
#pv-panel{
    flex-grow: 1;
} */