<template>
  <button type="button" class="button" @click="$emit('click')">
    Compute <span class="download" v-if="download">=</span>
  </button>
</template>

<script>
export default {
  props: {
    download: {
      type: Boolean,
      default: true
    }
  }
};
</script>

<style scoped>
.protein {
  font-family: "EBI-Conceptual";
}
.download {
  font-family: "EBI-Common";
}
button {
  align-items: center;
}
</style>