<template>
  <button type="button" class="button" @click="$emit('click')" >
    <span class="protein"></span>
  </button>
</template>

<style scoped>
.protein {
  font-family: "EBI-Common";
  font-size: 15px;
}
.button {
  background: grey;
  color: white;
  font-size: 15px;
  height: 26px;
  width: 26px;
  margin: 0, 0, 0, 0;
}



</style>